@import url("https://fonts.googleapis.com/css2?family=David+Libre&display=swap");

body {
  font-family: "David Libre", serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
  list-style-position: outside;
}
ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}
